<img src="https://nimbus-screenshots.s3.amazonaws.com/s/85a61d1e5ea3b6f4e340944f58844dd2.png" width=640>

</a>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> Chapter 4. Repetition Structures </p>

***

## <p style="background-color: grey; color: white "> ‚óºÔ∏è  While loop </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 1. Basic While-loop Structures</p>

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.0 </p>

#### Run all the cells and figure out the basic usage of while loop structure

In [1]:
i = 0
while (i < 10):
	i = i + 1
	print (i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [2]:
i = 0
while ( i< 10):
	print (i, end=' ')
	i = i + 1

0 1 2 3 4 5 6 7 8 9

In [3]:
i = 0
while ( i < 10):
	print (i, end=' ')
	i = i + 2

0 2 4 6 8

In [4]:
i = 10
while ( i > 0):
	print (i, end=' ')
	i = i - 1

10 9 8 7 6 5 4 3 2 1

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.1 </p>

#### Complete the code to print the numbers from 10 to 20 with the step 2 (10, 12, ...20)
> Use the while loop

In [5]:
begin = 10
end = 20
current_number = begin

while current_number <= end:
    print (current_number)
    current_number = current_number + 2

10
12
14
16
18
20

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.2 </p>

#### Complete the code to print the numbers from the input value 'begin' to another input 'end'.
> Use the while loop  <br>

<font color='red'> Note: the input value 'begin' can be greater than 'end'. <br>
if begin > end, print all the values from 'begin' to 'end' in decreasing order
</font>

In [7]:
begin = int(input('Enter the starting value: '))
end = int(input('Enter the end value: '))
current_number = begin

if begin <= end:
    while current_number <= end:
        print (current_number)
        current_number = current_number + 1
else:
    while current_number >= end:
        print (current_number)
        current_number = current_number - 1

Enter the starting value: 10
Enter the end value: 20
10
11
12
13
14
15
16
17
18
19
20

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.3 </p>

#### Complete the code to print the 9 multiplication numbers from the given input value 'num'
> For example, if the input "num" is 3, this code will print <br>
> 3 6 9 12 15 18 21 24 27 <br>
> Use the while loop  <br>

In [8]:
num = int(input('Enter a number: '))
i = 1
output = []
while i <= 9:
    output.append(num * i)
    i += 1
print (output)

Enter a number: 3
[3, 6, 9, 12, 15, 18, 21, 24, 27]

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.4 </p>

#### Complete the code to print all numbers
#### from 'start' to 'end' if 'start' < 'end'
#### from 'end' to 'start' if 'end' < 'start'
> For example, if start = 3, end = 5, it will print 3 4 5 <br>
> if start = 10, end = 7, it will print 7 8 9 10  <br>
> Use the <font color='red'> while loop </font> <br>

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.5 </p>

#### Complete the code to print all numbers
#### from 'start' to 'end' if 'start' < 'end'
#### from 'end' to 'start' if 'end' < 'start'
> For example, if start = 3, end = 5, it will print 3 4 5 <br>
> if start = 10, end = 7, it will print 7 8 9 10  <br>
> Use the <font color='red'> while loop </font> <br>

In [10]:
start = int(input('Enter a number: '))
end = int(input('Enter a number: '))

current = min(start, end)
limit = max(start, end)
output = []

while current <= limit:
    output.append(current)
    current += 1
print (output)

Enter a number: 10
Enter a number: 7
[7, 8, 9, 10]

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.6 </p>

#### Complete the code to get the summation of 1 to the input 'num'
> For example, if num = 5, it will print 15 because 1+2+3+4+5=15 <br>
> if num = 10, it will print 55 because 1+2+3+4+5+6+7+8+9+10<br>
> Use the <font color='red'> while loop </font> <br>

In [11]:
num = int(input('Enter a number: '))
val = 1
total = 0
while val <= num:
    total += val
    val += 1
print (f'The total from 1 to {num} is {total}')

Enter a number: 5
The total from 1 to 5 is 15

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.7 </p>

#### Complete the code to get the summation between 'start'(inclusive) and 'end'(inclusive)
#### Assume that 'start' < 'end'  
> For example, if 'start' = 5, 'end' = 10, it will print 45 because 5+6+7+8+9+10=15 <br>
> if 'start' = 10, 'end'= 20,  it will print 165 because 10+11+12+13+14+15+16+17+18+19+20 = 165 <br>
> Use the <font color='red'> while loop </font> <br>

In [13]:
start = int(input('Enter a number: '))
end = int(input('Enter a number: '))

total_sum = 0
current_num = start

while current_num <= end:
    total_sum += current_num
    current_num += 1

    print(f'The total from {start} to {end} is {total_sum}')

Enter a number: 5
Enter a number: 10
The total from 5 to 10 is 5
The total from 5 to 10 is 11
The total from 5 to 10 is 18
The total from 5 to 10 is 26
The total from 5 to 10 is 35
The total from 5 to 10 is 45

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.8 </p>

#### Complete the code to print all multiplication numbers of 3 between input 'start' and 'end'(inclusive)
#### Assume that 'start' < 'end'  
> For example, if start = 2, end = 10, it will print 3 6 9 <br>
> if start = 12, end = 21, it will print 12 15 18 21  <br>
> Use the <font color='red'> while loop </font> <br>

In [15]:
start = int(input('Enter a number: '))
end = int(input('Enter a number: '))

i = start // 3
i += 1 if start % 3 else 0
while i*3 <= end:
    print (i*3)
    i += 1

Enter a number: 12
Enter a number: 21
12
15
18
21

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.9 </p>

#### Complete the code to print all multiplication numbers of 'seed' between input 'start' and 'end'(inclusive)
#### Assume that 'seed' is greater than 1
#### Assume that 'start' < 'end'. Same as 1.8 except the 'seed'
> For example, if start = 2, end = 10, seed=3, it will print 3 6 9 <br>
> if start = 12, end = 31, seed = 6, it will print 12 18 24  <br>
> Use the <font color='red'> while loop </font> <br>

In [19]:
seed = int(input('Enter the seed number for multiplication: '))
start = int(input('Enter a number: '))
end = int(input('Enter a number: '))

remainder = start % seed
if remainder == 0:
  current_multiple = start
else:
  current_multiple = start + seed - remainder
  output = []
while current_multiple <= end:
    output.append(current_multiple)
    current_multiple += seed
    print (output)

Enter the seed number for multiplication: 6
Enter a number: 12
Enter a number: 31
[3, 6, 9, 12]
[3, 6, 9, 12, 18]
[3, 6, 9, 12, 18, 24]
[3, 6, 9, 12, 18, 24, 30]

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.10 </p>

#### Complete the code to repeat the input number until the inputted number is greater than 100
#### if the input number is greater than 100, stop the while loop
#### Otherwise, print the <font color='red'> number </font>
> For example, if the series of input is 5 10 15 20 150, <br>
> print a input number at each iteration in the while loop, except the 150 <br>
> 5 <br> 10 <br> 15<br> 20<br>  
> Use the <font color='red'> while loop </font> <br>

In [20]:
total = 0
number = int(input('Enter a number: '))

while number <= 100:
    print (number)
    number = int(input('Enter a number: '))

Enter a number: 5
5
Enter a number: 10
10
Enter a number: 15
15
Enter a number: 20
20
Enter a number: 150

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.11 </p>

#### Complete the code to repeat the input of a number until the sum of all input numbers is greater than 100.
#### if the sum of all input numbers is greater than 100, stop the while loop
#### Otherwise, add the input number to the variable "<font color='red'> total </font>"
> For example, if the series of input is 5 10 15 20 150, <br>
> the total must be 5 + 10 + 15 + 20 + 150 = 200, and stop the while loop   <br>
> After the while loop, print the 'total'
> Use the <font color='red'> while loop </font> <br>

In [22]:
number = int(input('Enter a number '))
total = 0
while total <= 100:
    total = total + number
    if total > 100:
      break
    number = int(input('Enter a number '))
print (f'The total of input numbers are {total}')

Enter a number 5
Enter a number 10
Enter a number 15
Enter a number 20
Enter a number 150
The total of input numbers are 200

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.12</p>

#### Complete the code to print all alphabets between input letters 'start' and 'end'
#### 'start' and 'end' letters are inclusive
#### Assumption. 'start' and 'end' is lower case letters. All inputs are lower case.
> For example, if 'start' is 'a' and 'end' is 'f'  <br>
> print 'a', 'b', 'c', 'd', 'e', 'f' <br>
> Use the <font color='red'> while loop </font> <br>

#### Refer to the following example code to practice the ord() and chr() funtions

In [25]:
start = 'a'
print (ord(start))  # it will print 97, which is ASCII code for the letter 'a'

next = ord(start) + 1
print (next)  # it will print 97, which is ASCII code for the letter 'b'

97
98

In [27]:
chr(115), chr(105), chr(98)     # by using the ASCII code 115, we can convert it as a character

('s', 'i', 'b')

In [28]:
start = 'a'
next = ord(start) + 1
print (chr(next))

b

In [33]:
start = input('Enter a starting letter: ')
end = input('Enter a starting letter: ')

current_ascii = ord(start)
end_ascii = ord(end)

while current_ascii <= end_ascii:
    print (chr(current_ascii))
    current_ascii += 1
    print()

Enter a starting letter: a
Enter a starting letter: e
a

b

c

d

e

***

#### Loop until the character 'q' is entered

In [37]:
user_val = input('Enter a character')
while ( user_val != 'q' ):
	print ( user_val, end='\t')
	user_val = input('Enter a character')

Enter a charactera
a	Enter a characterb
b	Enter a characterc
c	Enter a characterq

In [40]:
user_num = int(input('Enter your number'))
while ( user_num < 0 or user_num > 10):
	print ("Invalid Input. Try again")
	user_num = int(input('Enter your number'))
print (" user input is ", user_num)

Enter your number1
 user input is  1

## Don't forget to <font color='red'> **"commit"** </font> your work or <font color='red'> **"save"** </font> in Google Colab
## before moving to the next section.

***
## <p style="background-color: grey; color: white ">  ‚óºÔ∏è For loop </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 2. Basic For-loop Structures</p>

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #2.1</p>
#### Complete the following code cells and figure out the syntax of for-loop

##### Basic Syntax of For-Loop

In [41]:
for i in range(10):
    print (i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [42]:
for num in range(5):
	print (num, end=' ')

0 1 2 3 4

##### Complete this code to print 0 to <font color='red'> 10</font> with for-loop

In [43]:
for val in range(11):
    print (val, end=' ')

0 1 2 3 4 5 6 7 8 9 10

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #2.2: with steps</p>
#### Complete the following code cells and check out the results

In [44]:
for i in range(0, 10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [45]:
for i in range(1,10):
    print (i)

1
2
3
4
5
6
7
8
9

In [46]:
for i in range(5,10):
    print (i)

5
6
7
8
9

In [47]:
for i in range(0, 10, 2):
    print (i)

0
2
4
6
8

In [48]:
for i in range(5, 25, 5):
    print (i)

5
10
15
20

Complete the code to print 10, 12, 14, 16, 18, 20

In [49]:
for i in range(10, 21, 2):
  print(i)

10
12
14
16
18
20

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #2.3: decreasing</p>
#### Complete the following code cells and check out the results

In [51]:
for i in range(10, 0, -1):
    print (i)

10
9
8
7
6
5
4
3
2
1

In [52]:
for i in range(10, 0, -1):
    print (i)

10
9
8
7
6
5
4
3
2
1

In [53]:
for i in range(10, 0, -2):
    print (i)

10
8
6
4
2

Complete the code to print 15, 12, 9, 6, 3, 0

In [54]:
for i in range(15, -1, -3):
    print (i)

15
12
9
6
3
0

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #2.4: list values in for-loop</p>
#### Complete the following code cells and check out the results

#### List can be used for-loop to iterate all elements
```
for val in [0,1,2,3,4]:
    print (val)
```

In [55]:
for val in [0,1,2,3,4]:
    print (val)

0
1
2
3
4

In [56]:
for str in ['Java', 'Python', 'C++', 'R', 'Ruby', 'Java Script']:
	print (str, end=' ')

Java Python C++ R Ruby Java Script

In [57]:
for val in [10, 20, 30]:
	print (val)

listval = [10, 20, 30]
for val in listval:
	print (val)

10
20
30
10
20
30

Complete the code to get the summation of 5 user input values

In [58]:
total  = 0
for  i in range(5):
	user_num = int(input('Enter your num'))
	total += user_num
print ("Summation is", total)

Enter your num5
Enter your num10
Enter your num3
Enter your num1
Enter your num2
Summation is 21

Compare the while-loop version to for-loop

In [59]:
sum = 0
i = 0
while (i < 5):
	user_num = int(input('Enter your num'))
	sum += user_num
	i += 1
print ("Summation is", sum)

Enter your num10
Enter your num7
Enter your num11
Enter your num18
Enter your num19
Summation is 65

In [60]:
i = 0

while True:
	i += 1
	print (i)
	if ( i > 10):
		break

1
2
3
4
5
6
7
8
9
10
11

### Calculating Running Total

In [61]:
sum = 0
for i in range(5):
	number = int(input('Enter your number'))
	sum += number
print ('Total {0}'.format(sum))

Enter your number10
Enter your number15
Enter your number20
Enter your number25
Enter your number30
Total 100

##### While-loop version

In [62]:
i = 0
while (i < 5):
	number = int(input('Enter your number'))
	sum += number
	i += 1
print ('Total {0}'.format(sum))

Enter your number1
Enter your number5
Enter your number10
Enter your number20
Enter your number30
Total 166

### üëâ Complete the code to get the summation of 5 user input values with for-loop

In [69]:
total = 0
for i in range(5):
    value = int(input('Enter a number: '))
    total += value
print (f'The total of input numbers are {total}')

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
The total of input numbers are 15

### üëâ Complete the code to calculate the sum of 10 user input <font color='red'> even </font> values.

In [75]:
for i in range(10):
    value = int(input('Enter a number: '))
    if value % 2 == 0:
        total += value
        print (total)

Enter a number: 1
Enter a number: 2
83
Enter a number: 3
Enter a number: 4
87
Enter a number: 5
Enter a number: 6
93
Enter a number: 7
Enter a number: 8
101
Enter a number: 9
Enter a number: 10
111

#### What is the main difference between for-loop and while-loop?
#### In which case the while-loop has advantage?


```
 -for-loop is used when you know the exact number of iterations needed in advance.
- while-loop is used when the number of iterations is unknown and the loop needs to continue as long as a specifice condition is true
-while loop is better when the loop needs to run until a specific condition is met.
```

## Don't forget to <font color='red'> **"commit"** </font> your work or <font color='red'> **"save"** </font> in Google Colab
## before moving to the next section.

***
## <p style="background-color: grey; color: white">  ‚óºÔ∏è Random Numbers </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 3. Random Numbers </p>

#### To create the Random Numbers, import the random module first
> <font color='red'> import random </font>

#### Random module supports the varous functions to generate random numbers
#### Here is the link to learn more about "Random" module
[Manual for Random Modlue](https://docs.python.org/3/library/random.html)

In this first example, we will use only "randint()" function

In [77]:
import random

randnum = random.randint(0, 100) # will return a random number between 0 and 100 (inclusive)
randnum

83

In [78]:
rdnum1 = random.randint(0,10)
rdnum2 = random.randint(0,10)
rdnum3 = random.randint(0,10)

print (f'The generated random number is {rdnum1}, {rdnum2} and {rdnum3}')

The generated random number is 8, 1 and 2

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.1:  Random number</p>

#### Complete the code to generate the random number between 10 and 20

In [84]:
import random
random_number = random.randint(10, 20)
print (random_number)

17

#### Complete the code to generate 5 random number between 10 and 20 using for loop

In [90]:
for i in range(5):
    rdnum = random.randint(10, 20)
    print (rdnum, end=' ')

20 19 18 16 13

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.2  </p>
#### Complete the code to generate 5 radom numbers between 10 and 20, and calculate the sum of all random numbers
##### ‚úì No need to use the "list" data type.

In [96]:
import random
total = 0
for i in range(5):
    rdnum = random.randint(10, 20)
    print (f'{rdnum}', end=' ')
    total += rdnum
print (f'The total of random numbers is {total}')

18 14 20 20 14 The total of random numbers is 86

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.3  </p>
#### Complete the code to generate 5 radom numbers between 0 and 10, and find the greatest number
##### ‚úì No need to use the "list" data type.

In [99]:
for i in range(5):
    rdnum = random.randint(0,10)
    if i == 0: # if it is the first iteration
        maxval = rdnum # We assume that the first rdnum is greatest number
    if rdnum > maxval:  # if the next rdnum is greater than the current maxval, keep it as maxval
        maxval = rdnum
    print (rdnum, end=' ')

print (f'\nThe greatest random number is {maxval}')

5 5 0 8 0
The greatest random number is 8

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.4  </p>
#### Complete the code to generate 5 radom numbers between 0 and 10, and find the least number
##### ‚úì No need to use the "list" data type.

In [107]:
import random
minval = 11
for i in range(5):
    rdnum = random.randint(0,10)
    print (rdnum, end=' ')
    if rdnum < minval:
      minval = rdnum
print (f'\nThe least random number is {minval}')

6 7 10 8 4
The least random number is 4

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.5  </p>
#### Write a program that generates a random number between 0 and 100 repeatedly.
#### The while loop will stop if it is greater than the immediate preceding random number.
##### ‚úì No need to use the "list" data type. <br>

In [111]:
import random
flag = 1
prev_num = 101
while (flag):
	current_num = random.randint(0,100)
	print (current_num, end = ' ')
	if ( current_num > prev_num):
		flag = 0;
	prev_num = current_num

72 47 83

## Don't forget to <font color='red'> **"commit"** </font> your work or <font color='red'> **"save"** </font> in Google Colab
## before moving to the next section.

***
## <p style="background-color: grey; color: white">  ‚óºÔ∏è List and For loop </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 4. List and For loop </p>

#### list is the data type that can hold the multiple values as a element
#### For example
> <code> mylist = [10, 20, 30, 40, 50] </code>

#### Each element can be accessed by using index, for example, to access the 2nd element
> <code> mylist[1]   # it will print the value 20 </code>

In [112]:
mylist = [10, 20, 30, 40, 50]
print (mylist[0])
print (mylist[1])
print (mylist[2])
print (mylist[3])
print (mylist[4])

10
20
30
40
50

In [113]:
mylist = [10, 20, 30, 40, 50]
total = mylist[0] + mylist[1] + mylist[2] + mylist[3] + mylist[4]
print (total)

150

#### Print all elements in the list

In [114]:
mylist = [10, 20, 30, 40, 50]
for idx in range(5):
	print (mylist[idx], end=' ')

10 20 30 40 50

#### Print all elements in reverse order in the list

In [115]:
mylist = [10, 20, 30, 40, 50]
for idx in range(4, -1, -1):
	print (mylist[idx], end=' ')

50 40 30 20 10

#### Print all elements in reverse order by using the "reversed()" function

In [116]:
for i in reversed(range(5)):
    print (i, end=' ')  # it will print 4 3 2 1 0, # Now you can these sequence to access the elements

4 3 2 1 0

In [118]:
mylist = [10, 20, 30, 40, 50]
for idx in reversed(range(5)):
	print (mylist[idx], end=' ')

50 40 30 20 10

#### Accessing each element directly without index in the for-loop

In [3]:
mylist = [11, 22, 33, 44, 55]

for v in mylist:        # the variable v will be each element in the repetition.
    print (v, end=' ')

11 22 33 44 55

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #4.1  </p>
#### Calculate the sum of all elements using for-loop
#### Do not use the function sum(). Need to practice the for-loop and develop your algorithm

In [2]:

mylist = [10, 20, 30, 40, 50]
total = 0

for number in mylist:
  total = total + number
print (total)

150

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #4.2  </p>
#### Find the least number in the list.
#### Do not use the function <font color='red'>min() </font>. <br> Need to practice the for-loop and develop your algorithm
#### Follow the algorithm steps to find the least number
> 1) Assume that the 1st element is the least number    
>> <code> minval = mylist[0] </code>
> 2) Iterate all elements from 2nd to the last
>> <code> for i in range(len(mylist)): </code>
> 3) If any element in the list is less than the current, replace the minval with the current element
>> <code> if mylist[i] < minval: </code>
>>> <code> minval = mylist[i] </code>

In [4]:
mylist = [10, 20, 30, 40, 50]
minval = mylist[0]
for i in range(len(mylist)):
  if mylist[i] < minval:
    minval = mylist[i]
print (minval)

10

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #4.3  </p>
#### Complete the code that determines whether the input value is in the list or not
#### Do not use the operator <font color='red'>in </font>. <br> Need to practice the for-loop and develop your algorithm
> input number <br>
> for each element in the list <br>
>> compare input number to each element <br>
>> if two values are same, print True <br>

In [15]:
mylist = [10,20,30,40,50]
target = int(input('Enter a number: '))

for number in mylist:
    if number == target:
        print (True)
        break
else:
    print (False)

Enter a number: 20
True

## Don't forget to <font color='red'> **"commit"** </font> your work or <font color='red'> **"save"** </font> in Google Colab
## before moving to the next section.

***
## <p style="background-color: grey; color: white">  ‚óºÔ∏è Break and Continue </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 5. Break and Continue </p>


#### In programming, the break and continue statements are used to alter the flow of loops:
<ul>
	<li><code>break</code> exits the loop entirely</li>
	<li><code>continue</code> skips the current iteration and proceeds to the next one</li>
</ul>

### Example code: Before run the below cell, guess the value of i after for loop

In [16]:
for i in range(5):
    if i == 3:
        break
print (i)       # value i? why?

3

### Example code: 10 iterations with while-loop and break

In [17]:
i = 0
while True:
    if i == 10:
        break
    print (i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #5.1  </p>
#### Complete the code that input a number until the input value is -1
> Use the while loop and break

In [19]:
while True:
    number = int(input('Enter a number: '))
    if number == -1:
      break
    print (number)

Enter a number: -2
-2
Enter a number: 0
0
Enter a number: -1

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #5.2  </p>
#### Complete the code that input a word until the input value is 'stop'
> Use the while loop and break

In [20]:
while True:
    word = input('Enter a word: ')
    if word == 'stop':
      break
    print(word)

Enter a word: hi
hi
Enter a word: hello
hello
Enter a word: stop

## Don't forget to <font color='red'> **"commit"** </font> your work or <font color='red'> **"save"** </font> in Google Colab
## before moving to the next section.

***
## <p style="background-color: grey; color: white">  ‚óºÔ∏è While-else for-else </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 6. while-else for-else </p>
### While and for loop also has the "else" clause

#### With the else statement we can run a block of code once when the condition no longer is true:

In [23]:
i = 1
while i < 10:
  print(i, end=' ')
  i += 1
else:
  print("\ni is no longer less than 10")

1 2 3 4 5 6 7 8 9
i is no longer less than 10

#### What is the difference with the following code?

There is no difference between two while-loops.

In [24]:
i = 1
while i < 10:
  print(i, end=' ')
  i += 1
print("\ni is no longer less than 10")

1 2 3 4 5 6 7 8 9
i is no longer less than 10

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #6.1  </p>
#### Run the following example to see the difference
#### At the 1st try, use the input series 10, 15, 20, 25, 30
#### At the 2nd try, use the input series 10, 15, -1 <font color='red'> ‚ö†Ô∏è "else" part will not be executed

In [26]:
i = 0
while i < 5:
    number = int(input('Enter a number: '))
    print (number, end= ' ')
    if number == -1:
        break
    i += 1
else:
    print ('Executed while-else part')

Enter a number: 10
10 Enter a number: 15
15 Enter a number: -1
-1

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #6.2  </p>
#### Write a code to decide all the elements in the list are positive or not

#### [Version 1]

In [27]:
mylist = [1,2,-3, 4, 5]

flag = True
for v in mylist:
    if v < 0:
        flag = False

if flag:
    print ('All elements are positive value')
else:
    print ('All elements are not positive value')

All elements are not positive value

#### [Version 2]
#### for-else has advantage when you check the condition "for all elements"

In [28]:
mylist = [1,2,-3, 4, 5]

for v in mylist:
    if v < 0:
        print ('All elements are not positive value')
        break
else:
    print ('All elements are positive value')

All elements are not positive value

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #6.3  </p>
#### Write a code to determine if the list contains an element that matches the input number

In [33]:
number = int(input('Enter a number: '))
mylist = [10, 12, 14, 16, 18, 20]

for i in range(len(mylist)):
    if number == mylist[i]:
        print (f'The value {number} is in the list')
        break
else:
    print (f'The value {number} is not in the list')

Enter a number: 18
The value 18 is in the list

## Don't forget to <font color='red'> **"commit"** </font> your work or <font color='red'> **"save"** </font> in Google Colab
## before moving to the next section.

***
## <p style="background-color: grey; color: white">  ‚óºÔ∏è Input Validation </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 7. Input Validation </p>

#### Complete the following code segments and run it
#### Figure out the code algorithms

#### Code that checks whether the input number is between 0 and 100

In [35]:

number = int(input('Enter your input'))

while ( number < 0 or number > 100):
	number = int(input('The input should be between 0 and 100'))

print (number)

Enter your input200
The input should be between 0 and 10050
50

#### Print a character until 'q' is entered

In [36]:
user_char =  input('Enter your character')

while( user_char != 'q'):
	print (user_char, end=' ')
	user_char =  input('Enter your character')

Enter your charactera
a Enter your characterb
b Enter your characterc
c Enter your characterq

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #7.1  </p>
#### Complete the code using "try-except" clause to decide whether the input causes an "ValueError" or not

## Try-except statement
> learn more about "try-except" throught the [link](https://docs.python.org/3/tutorial/errors.html) <br>
> [another resource to learn try-except](https://python101.pythonlibrary.org/chapter7_exception_handling.html)
#### Try to input the "non integer value" like a letter

In [40]:
try:
	user_num = int(input('Enter a number'))
except ValueError:
	print ('Invalid input: Value Error')

print (user_num)

Enter a number18
18

#### input a number until it is valid

In [43]:
while True:
	try:
		user_num = int(input('Enter a number'))
	except ValueError:
		print ('Invalid input: Value Error')
		continue
	else:
		print (user_num)
		break

Enter a number50
50

## Don't forget to <font color='red'> **"commit"** </font> your work or <font color='red'> **"save"** </font> in Google Colab
## before moving to the next section.

***
## <p style="background-color:grey; color:white">  ‚óºÔ∏è Nested Loop  </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 8. Nested Loop </p>

#### Check out the following example codes and figure out the results

#### All combinations of Set A (0, 1, 2) and Set B (0, 1, 2, 3, 4)
```
(0, 0) (0, 1) (0, 2) (0, 3) (0, 4)
(1, 0) (1, 1) (1, 2) (1, 3) (1, 4)
(2, 0) (2, 1) (2, 2) (2, 3) (2, 4)
```

In [44]:
for i in range(3):
    for j in range(5):
        print (i, j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4

In [45]:
for i in range(3):
	for j in range(5):
		print (f'({i}, {j})', end=' ')
	print ()

(0, 0) (0, 1) (0, 2) (0, 3) (0, 4)
(1, 0) (1, 1) (1, 2) (1, 3) (1, 4)
(2, 0) (2, 1) (2, 2) (2, 3) (2, 4)

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #8.1  </p>
#### Complete the code in the nested for loop to print the result below
```
(0, 0) (0, 1) (0, 2)
(1, 0) (1, 1) (1, 2)
(2, 0) (2, 1) (2, 2)
(3, 0) (3, 1) (3, 2)
(4, 0) (4, 1) (4, 2)
```

In [47]:
for i in range(5):
    for j in range(3):
        print (f'({i}, {j})', end=' ')
    print()

(0, 0) (0, 1) (0, 2)
(1, 0) (1, 1) (1, 2)
(2, 0) (2, 1) (2, 2)
(3, 0) (3, 1) (3, 2)
(4, 0) (4, 1) (4, 2)

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #8.2  </p>
#### Complete the code in the nested for loop to print the result below
```
(0, 0) (0, 1) (0, 2) (0, 3)
(1, 0) (1, 1) (1, 2) (1, 3)
(2, 0) (2, 1) (2, 2) (2, 3)
```

In [49]:
for i in range(3):
    for j in range(4):
        print (f'({i}, {j})', end=' ')
    print()

(0, 0) (0, 1) (0, 2) (0, 3)
(1, 0) (1, 1) (1, 2) (1, 3)
(2, 0) (2, 1) (2, 2) (2, 3)

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #8.3  </p>
#### Expect the output result before executing the code cell  
```
Explain the result. why?
```

In [50]:
for i in range(9,6,-1):
	for j in range(3):
		print (f'({i},{j})', end=' ')
	print ()

(9,0) (9,1) (9,2)
(8,0) (8,1) (8,2)
(7,0) (7,1) (7,2)

#### Your answer: The output is generated by a nested for loop. The outer loop is for i in range(9,5,-1):. This controls the rows and the first coordinate i. The inner loop is (for j in range(3):). This loop controls the columns and the second coordinate j. line 3 prints the coordinate pair for the current i and j. The end='' keeps the output on the same line. line 4 is executed once the inner loop finishes. calling print() without arguments moves the output to the next line, starting a new row for the next value of i.

***

In [52]:
for i in range(5):
	for j in range(i, 5):
		print (f'({i},{j})', end=' ')
	print()

(0,0) (0,1) (0,2) (0,3) (0,4)
(1,1) (1,2) (1,3) (1,4)
(2,2) (2,3) (2,4)
(3,3) (3,4)
(4,4)

#### Your answer: (0,0) (0,1) (0,2) (0,3) (0,4)
(1,1) (1,2) (1,3) (1,4)
(2,2) (2,3) (2,4)
(3,3) (3,4)
(4,4)
#### What is the output? Why?
The code uses a nested loop. The outer loop is (for i in range(5):. This variable i will take the values 0,1,2,3,4. The inner loop is (for j in range(i,5):. This variable j starts at the current value of i and iterates up to but not including 5.
***

In [51]:
for i in range(3):
	for j in range(i,3):
		print (f'({i},{j})', end=' ')
	print ( )

(0,0) (0,1) (0,2)
(1,1) (1,2)
(2,2)

#### Your answer: The output is generated by a nested for loop structure where the range of the inner loop is fixed. The outer loop (for i in range(3):). this loop controls the rows and the first coordinate i and range(3) generates the sequence 0,1,2. The inner loop (for j in range(i,3):. This loop range depends on the current value of i. it starts at i and goes up but not including 3. The output is (0,0) (0,1) (0,2)
(1,1) (1,2)
(2,2)
#### What is the output? Why?
***

In [53]:
for i in range(5):
	for j in range(0, i):
		print (f'({i},{j})', end=' ')
	print ( )

(1,0)
(2,0) (2,1)
(3,0) (3,1) (3,2)
(4,0) (4,1) (4,2) (4,3)